.home-hero{
     background-image: url("hero-bg-image.jpg");
     background-repeat: no-repeat;
     height: 30rem;
}
.home-hero-link > a{
     text-decoration: none;
     color: #fff;
     border: 1px solid transparent;
     padding: 12px 24px;
     background: #ff0000;
     border-radius: 12px;
     text-align: center;
}
.home-hero-link > a:hover{
     background: #001975;
     letter-spacing: 1px;
     transition: 1s;
}

@media only screen and (max-width: 819px){
     .home-hero-container{
          display: flex;
          flex-direction: column;
          gap: 2px;
     }
     .home-hero{
          height: 40rem;
     }
     .home-hero-text{
          padding-top: 32px;
     }
}